.landing-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.landing-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.credits {
    position: absolute;
    bottom: 2vh;
    right: 1.5vw;
    text-align: center;
    color: black;
    background-color: white;
    padding: 0.1rem 1rem;
    border-radius: 0.6rem;
}

.credits h1 {
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 48rem) {
    .credits{
        padding: 0.2rem 1rem;
        bottom: 1vh;
        right: 2vw;
    }

    .credits h1 {
        font-size: 0.65rem;
    }
}