.landing-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.landing-container img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.credits {
    position: absolute;
    bottom: 2vh;
    right: 1.5vw;
    text-align: center;
    color: black;
    background-color: white;
    padding: 0.2rem 1rem;
    border-radius: 0.6rem;
    width: 40%;
}

.credits h1 {
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 600px) {
  .credits h1 {
    font-size: 0.7rem;
    font-weight: 400;
  }
}