.text-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #548B32, #DDF0F7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.text-box {
    background-color: white;
    border: 0.1875rem solid black;
    border-radius: 0.625rem;
    padding: 5.4375rem 3.5rem;
    max-width: 70rem;
    width: 90%;
    text-align: left;
}

.text-box p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: black;
    margin-bottom: 1.5rem;
}

.text-box p:last-child {
    margin-bottom: 0;
}

@media (max-width: 48rem) {
    .text-section {
        padding: 0rem;
    }
    
    .text-box {
        padding: 2rem 1.5rem;
        width: 18.5rem;
        border-radius: 0.625rem;
        border-width: 0.1875rem;
        margin: 0 auto;
    }

    .text-box p {
        font-size: 1rem;
    }
}